*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.container{
    width: 80%;
    margin: 30px auto;
}

.header{
    text-align: center;
    display: grid;
    gap: 20px;
}

.header-title > .profile-img{
    width: 150px;
    text-align: center;
}

.header-title > .my-name{
    margin: 10px 0;
}

.header-menu{
    display: flex;
    gap: 20px;
    justify-content: center;
}