
.about-me {
	background-color: #bfbfbf;
	padding: 20px;
	border-radius: 5px;
	display: grid;
	gap: 20px;
}

.skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
	padding: 0 30px;
}
.skills > div {
	border: 1px solid #b3b3b3;
    padding: 20px;
    border-radius: 5px;
    max-width: 150px;
    min-width: 150px;
    box-shadow: 7px 10px #b3b3b3;
	background-color: white;
}
.skills ul {
	margin-left: 30px;
	list-style: circle;
}